* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #14131b;
  color: #e6e5ea;
  display: flex;
  align-items: center;
  justify-content: center;
}
@font-face {
  font-family: JetBrains Mono;
  src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf");
}
.heading-lg {
  color: var(#e6e5ea);
  font-feature-settings: "clig" off, "liga" off;

  /* Heading (L) */
  font-family: JetBrains Mono;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.heading-m {
  color: var(#e6e5ea);
  font-feature-settings: "clig" off, "liga" off;

  /* Heading (M) */
  font-family: JetBrains Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.body {
  color: var(#e6e5ea);
  font-feature-settings: "clig" off, "liga" off;

  /* Body (M) */
  font-family: JetBrains Mono;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.body-sm {
  color: var(#e6e5ea);
  font-family: JetBrains Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-content {
  width: 540px;
  max-width: 95%;
}

/* Apply some basic styles to the slider */

.slider {
  width: 100%;
}

/* Style the slider thumb (slider "knob") */
.slider {
  margin-right: 15px;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  background: #18171f;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #e6e5ea;
  cursor: pointer;
}

/*checbox styling*/
input[type="checkbox"] {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #555;
  border: 2px solid #e6e5ea;
  cursor: pointer;
}
input[type="checkbox"]:hover {
  border: 2px solid #a4ffaf;
}
input[type="checkbox"]:not(:checked) + .checked-box {
  display: none;
}
input[type="checkbox"]:checked + .checked-box {
  display: block;
}
